body {
  margin: 0;
  font-family: sans-serif;
}

.wideview {
  max-height: 40% !important;
  width: 100% !important;
  overflow: hidden;
}

.expandedinfo {
  width: 100%;
  height: 100% !important;
} 

.extralong {
  height: 60%;
}

.expanded-view-heart-price {
  position: absolute;
  font-size: 25px;
  margin: 10px 0 0 10px;
  color: white;
  width: 100%;
}

.expanded-view-heart-price *{
  margin: auto 5% auto 0 ;
}

.expanded-price {
  margin-left: auto;
}

.full-length {
  width: 100% !important;
  margin-top: 0;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.expanded-view-description-container {
  margin: 1% 2%;
}

.expanded-match {
  margin: auto auto auto 1%;
  font-size: 18px;
}

.expanded-heart-icon {
  margin: auto 1% 1% 0 ;
}

.useless-button-on {
  background-color: #E4343B !important;
  color: white !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.small-title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
}

.no-margin {
  margin: 0;
}

.expanded-view-address-container {
  margin-top: 2%;
  margin-bottom: 0;
}

.sub-text {
  color: #7e7e7e;
  font-style: italic;
  font-size: 16px;
}

.standard-text {
  font-size: 18px;
  line-height: 35px;
}


.push-right{
  margin-left: auto !important;
}

.next-button-container {
  margin-top: 62%;
  margin-bottom: 0;
  position: absolute;
}

.w95 {
  width: 95%;
} 